{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'jumbotron',
  'jumbotron-fluid',
  'hero-banner'
] %}

{% set background_image = file_url(content.field_hero_banner[0]['#media'].field_media_image.entity.uri.value) %}
<div{{ attributes.addClass(classes) }} style="background-image: url({{ background_image }})">
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {% if content.field_hero_text|render|striptags|trim is not empty %}
      {% set content_classes = ['container', 'hero-callout'] %}
      <div{{ content_attributes.addClass(content_classes) }}>
        {{ content.field_hero_text }}
      </div>
    {% endif %}
    {{ content|without('field_hero_banner', 'field_hero_text') }}
  {% endblock %}
</div>
